.error404 {
    height: 95vh;

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        @include absCenter;

        @include respond(tab-port){
            grid-template-columns: none;
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 300;
        margin-bottom: auto;
    }

    &__img{
        width: 100%;
    }
}
