/*
    $breakpoint argument choices:
        - phone
        - tab-port
        - tab-land
        - big-desktop

        1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 76%;
  }
}

body {
  box-sizing: border-box;
  background-color: #ede0d4;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.heading-1 {
  font-size: 12rem;
  letter-spacing: 0.8rem;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}
.heading-1--light {
  color: #ede0d4;
}

.heading-2 {
  background-image: linear-gradient(to right, #ddb892, #9c6644);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 4.2em;
}

.subtitle {
  font-size: 2.4rem;
  font-weight: 300;
}

.text-align-center {
  text-align: center;
}

.fullwidth {
  width: 100%;
}

.mb-lg {
  margin-bottom: 10rem;
}

.mb-md {
  margin-bottom: 5rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: linear-gradient(to right bottom, rgba(176, 137, 104, 0.6), rgba(156, 102, 68, 0.9));
  justify-items: center;
  align-items: center;
}
@media (max-width: 56.25em) {
  .header {
    grid-template-columns: none;
  }
}
.header__photo {
  justify-self: flex-end;
}
@media (max-width: 56.25em) {
  .header__photo {
    width: 100%;
  }
}

.know-penny {
  padding: 8rem 10vw;
}
.know-penny__card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
}
@media (max-width: 56.25em) {
  .know-penny__card {
    grid-template-columns: none;
    text-align: center;
  }
}
.know-penny__card-photo {
  width: 100%;
  justify-self: center;
  border-radius: 3px;
}
.know-penny__card-text {
  font-size: 1.8rem;
}

.epic-pennys {
  padding: 4rem 5vw;
}
.epic-pennys__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
@media (max-width: 56.25em) {
  .epic-pennys__grid {
    grid-template-columns: none;
  }
}

.footer {
  background-color: black;
  color: white;
  padding: 4rem 10vw;
  font-size: 1.4rem;
}
.footer a {
  color: white;
}

.btn {
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 1.2rem 5rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #7f5539;
  color: white;
  border-radius: 3px;
  box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
}
.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.2);
}
.btn:disabled {
  background-color: #b08968;
}
.btn:hover:disabled {
  transform: translateY(0);
  box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.1);
}

.epic-penny {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  background-color: #e6ccb2;
  border-radius: 3px;
  width: 30%;
}
@media (max-width: 56.25em) {
  .epic-penny {
    width: 100%;
    text-align: center;
  }
}
.epic-penny__img {
  width: 100%;
  border-radius: 3px;
  border: 3px solid #7f5539;
}
.epic-penny__title-box {
  align-self: center;
  transform: translateY(-50%);
  background-color: black;
  border-radius: 3px;
  text-align: center;
  padding: 1rem 0;
  width: 80%;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}
.epic-penny__description {
  font-size: 1.6rem;
  margin-bottom: auto;
}
.epic-penny__button {
  margin-top: 2rem;
}

.modal {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #7f5539;
  color: white;
  font-size: 1.8rem;
  padding: 1rem 6rem;
  border-radius: 3px;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.modal-open {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
